    <section class="pb-3 pt-3 mt-0">
    <div class="container">
        <div class="row f-flex text-center">
            <div class="text-dark my-1">
                <center>
                    <p class="mt-2 text-dark">
                        © 2022 | <a class=" " href="aaaa">IKIGAI</a>
                    </p>
                </center>
            </div>
        </div>
    </div>
    </section>
</body>
</html>