<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="../../scss/custom.css">
    <!-- JavaScript Bundle with Popper -->
    <script
      src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"
    ></script>
    <title>Tanukitchen</title>
  </head>
  <body>
    <div class="--app-navbar-drawer empty">
      <header style="text-align: center">
        <nav class="tknavbar">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img
                src="../../web/img/src/light-tanukitchen-horizontal.png"
                height="70"
                alt="image"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav3"
              aria-controls="navbarNav3"
              aria-expanded="true"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav3">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/showUsers">Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/showProducts">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/registerUser">Nuevo Usuario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/registerProduct">Nuevo Producto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Iniciar Sesion</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
